
<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
  <span class="navbar-brand">ADSM</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<p>&nbsp;</p><p>&nbsp;</p>
<main role="main" class="container">
    <router-outlet></router-outlet>
</main><!-- /.container -->
